src/Resources/Xsd/CollectionordersPost.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="request">
		<xs:complexType>
			<xs:all>
				<xs:element name="firstname">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lastname">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="emailaddress1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="254"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="emailaddress2">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="254"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="telephone1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="telephone2">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_street">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="75"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_number">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_postcode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_city">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_country"  minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_street2"  minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="75"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_number2" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_postcode2" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_city2" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="address_country2" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="debtornumber">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="3"/>
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="payment_reference">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="3"/>
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="concerning">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="id_batch">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="id_request_client" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="company_name" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="birth_date" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:date">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gender" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:union>
							<xs:simpleType>
								<xs:restriction base="xs:byte">
									<xs:pattern value="0|1"/>
								</xs:restriction>
							</xs:simpleType>
							<xs:simpleType>
								<xs:restriction base='xs:string'>
									<xs:length value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:union>
					</xs:simpleType>
				</xs:element>
				<xs:element name="language" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="variable1" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="variable2" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="variable3" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="variable4" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="variable5" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="username" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="flow_datetime">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="flow_id">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="100"/>
							<xs:maxInclusive value="999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="flow_step">
					<xs:simpleType>
						<xs:restriction base="xs:short">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="module_ideal" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:pattern value="0|1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="module_paypal" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:pattern value="0|1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="module_creditcard" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:pattern value="0|1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="module_mistercash" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:pattern value="0|1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="module_sofort" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:pattern value="0|1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="module_paysafecard" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:pattern value="0|1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="module_banktransfer" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:pattern value="0|1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="module_emandate" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:pattern value="0|1|2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="module_ubl" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:pattern value="0|1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="invoices">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="invoice" minOccurs="1" maxOccurs="25">
								<xs:complexType>
									<xs:all>
										<xs:element name="invoice_number">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="invoice_description">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="invoice_amount">
											<xs:simpleType>
												<xs:restriction base="xs:long">
													<xs:minInclusive value="-999999999"/>
													<xs:maxInclusive value="999999999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="invoice_date">
											<xs:simpleType>
												<xs:restriction base="xs:date">
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="invoice_date_due" minOccurs="0" maxOccurs="1">
											<xs:simpleType>
												<xs:union>
													<xs:simpleType>
														<xs:restriction base='xs:string'>
															<xs:length value="0"/>
														</xs:restriction>
													</xs:simpleType>
													<xs:simpleType>
														<xs:restriction base="xs:date">
														</xs:restriction>
													</xs:simpleType>
												</xs:union>
											</xs:simpleType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>

