src/Resources/Xsd/Response.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="meta">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="result_count">
                                <xs:simpleType>
                                    <xs:restriction base="xs:short">
                                        <xs:minInclusive value="1"/>
                                        <xs:maxInclusive value="1000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="current_page">
                                <xs:simpleType>
                                    <xs:restriction base="xs:short">
                                        <xs:minInclusive value="1"/>
                                        <xs:maxInclusive value="9999"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="next_page">
                                <xs:simpleType>
                                    <xs:union>
                                        <xs:simpleType>
                                            <xs:restriction base='xs:string'>
                                                <xs:length value="0"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:short">
                                                <xs:minInclusive value="1"/>
                                                <xs:maxInclusive value="9999"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:union>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="results">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="result" maxOccurs="1000">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="mpid" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:union>
                                                    <xs:simpleType>
                                                        <xs:restriction base='xs:string'>
                                                            <xs:length value="0"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:long">
                                                            <xs:minInclusive value="1000000000"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:union>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cid" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:long">
                                                    <xs:minInclusive value="1000000000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="id_sms" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:long">
                                                    <xs:minInclusive value="10000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="status" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="action_type" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="message_type" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="description" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="id_request_client" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="provider" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="account_owner" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="70"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="iban" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="34"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="bic" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="11"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="debtornumber" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="payment_reference" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="url" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:anyURI">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="paylink" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:anyURI">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="idinlink" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:anyURI">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="id_template" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:union>
                                                    <xs:simpleType>
                                                        <xs:restriction base='xs:string'>
                                                            <xs:length value="0"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:minInclusive value="100"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:union>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="flow_id" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="flow_step" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                    <xs:minInclusive value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="term" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                    <xs:minInclusive value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="term_total" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                    <xs:minInclusive value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="status_code" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                    <xs:minInclusive value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="settings" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:union>
                                                    <xs:simpleType>
                                                        <xs:restriction base='xs:string'>
                                                            <xs:length value="0"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:double">
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:union>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="date_start" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:dateTime">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="date_action" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:dateTime">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="date_status" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base='xs:dateTime'>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="status_date" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:dateTime">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="updated" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="amount">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:long">
                                                    <xs:minInclusive value="-50000000"/>
                                                    <xs:maxInclusive value="2147483647"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="label" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="expired" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="id_flow" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                    <xs:minInclusive value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="name_flow" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="0"/>
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="steps">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="result" maxOccurs="99">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="action_number">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:short">
                                                                            <xs:minInclusive value="1"/>
                                                                            <xs:maxInclusive value="99"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="action_day">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:short">
                                                                            <xs:minInclusive value="1"/>
                                                                            <xs:maxInclusive value="999"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="action_type">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="0"/>
                                                                            <xs:maxLength value="25"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>